{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kotoba/lang/kami_nv_compat/actions/action_term.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/actions/articulated_env.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/actions/task_space_actions.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/alpamayo.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/alpasim.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/amenominaka/application.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/amenominaka/commands.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/amenominaka/extension.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/assets/anymal_c.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/assets/franka_panda.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/assets/ur10.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/assets/urdf_builder.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/controllers/differential_ik.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/controllers/operational_space.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/drive_sim.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/dynamics/articulated_dynamics.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/dynamics/urdf_parser.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/e7m_shugyo/cartpole.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/e7m_shugyo/env.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/e7m_shugyo/managers.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/e7m_sim.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_drive/coc.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_drive/planner.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_drive/unicycle.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/bvh.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/pathtrace.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/wgpu_pathtrace.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/wgpu_raytrace.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_rt/wgsl_shaders.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_usd/geom.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_usd/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kami_usd/usda.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/client.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/store.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/murakumo_render/farm.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/omni_kit_app.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/omni_replicator_core.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/omni_usd.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/optix.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/policies.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/rtx_renderer.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/distribution.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/randomize.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/render_bridge.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/sampler.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/utsushimi/writers.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/wadachi_sim/index.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/wadachi_sim/sensors.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/wadachi_sim/world.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/warp/examples.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/warp/warp.cljk" ".cljc"
  "src/kotoba/lang/kami_nv_compat/warp/wgpu_backend.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/actions/action_term_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/actions/articulated_env_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/actions/task_space_actions_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/alpamayo_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/alpasim_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/amenominaka/application_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/amenominaka/commands_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/amenominaka/extension_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/assets/anymal_c_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/assets/franka_panda_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/assets/ur10_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/assets/urdf_builder_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/controllers/differential_ik_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/controllers/operational_space_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/drive_sim_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/dynamics/articulated_dynamics_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/dynamics/urdf_parser_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/e7m_shugyo/cartpole_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/e7m_shugyo/env_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/e7m_shugyo/managers_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/e7m_sim_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_drive/coc_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_drive/planner_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_drive/unicycle_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/bvh_axis_aligned_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/bvh_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/pathtrace_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/wgpu_pathtrace_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/wgpu_raytrace_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_rt/wgsl_shaders_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_usd/geom_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_usd/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kami_usd/usda_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/client_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/kotoba_datomic_nucleus/store_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/murakumo_render/farm_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/omni_kit_app_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/omni_replicator_core_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/omni_usd_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/optix_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/policies_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/rtx_renderer_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/distribution_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/randomize_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/render_bridge_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/sampler_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/utsushimi/writers_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/wadachi_sim/index_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/wadachi_sim/sensors_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/wadachi_sim/world_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/warp/examples_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/warp/warp_test.cljk" ".cljc"
  "test/kotoba/lang/kami_nv_compat/warp/wgpu_backend_test.cljk" ".cljc"}}
